  html {
    overflow:auto;
  }

  /* Main Content */
  .main {
     height: 100%;
  }

  /* Main content horizontal div positioning */
  .flex-parent-horizontal {
    display: flex;
    width: 100%;
  }
  
  .flex-child-horizontal {
    flex: 1;
  }
  
  .flex-child-horizontal:first-child {
    margin-right: 20px;
  }

  /* Main content vertical div positioning */
  .flex-parent-vertical {
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
  }
  
  .flex-child-vertical {
    flex: 1;
    margin: 10px;
  }
  
  .flex-child-vertical:first-child {
    margin-bottom: 20px;
  }
  
  .flex-child-title{
    margin:auto;
    padding: .5em 1em;
  }

  /* Map Div */
  #google_map {
    height: 500px;
    width: 100%;
  }

  /* Map Div */
  #open_street_map {
    height: 500px;
    width: 100%;
  }

  /* Code Snippet */
  pre {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    padding: 10px 10px 10px 10px;
  }

  /* for block of numbers */
  .hljs-ln-numbers {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    text-align: center;
    color: #ccc;
    border-right: 1px solid #CCC;
    vertical-align: top;
    padding-right: 5px!important;

  }

  /* for block of code */
  .hljs-ln-code {
    padding-left: 10px !important;
  }

  .hljs-ln-line:hover {
    cursor: default;
    background-color: #91919169;
  }

  .hljs-ln {
    border-collapse: collapse;
    width: 100%;
  }


/* The snackbar */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}